.app {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.temperature-component {
  border: 1px solid red;
  padding: 48px;
}

.temperature-display {
  border: 1px solid orange;
  display: block;
  font-size: 56px;
}

.temperature-controls {
  border: 1px solid yellow;
}
